<div>
<div _ngcontent-wlt-c6="" class="card"><div _ngcontent-wlt-c6="" class="card-header card-header-warning">
  <h1 _ngcontent-wlt-c6="" class="card-title">LABORATOIRE DE RECHERCHE</h1><p _ngcontent-wlt-c6="" class="card-category"></p>
</div>
<div _ngcontent-wlt-c6="" class="card-body table-responsive" style="height:700px">
  <div style="height: 10rem; display: flex; align-items: center; justify-content:center; margin-top: 10%;">
 
    <div _ngcontent-wlt-c13="" class="col-md-4" style="height: 10rem; display: flex; align-items: center; justify-content:center; margin-top: 10%;">
      <button _ngcontent-wlt-c13="" class="btn btn-link btn-block mat-raised-button" mat-raised-button="" (click)="tryGoogleLogin()">
      <mat-icon style="width: 150px; height:70px"
              svgIcon="logo"></mat-icon><h4>Login With Google</h4><div class="mat-button-ripple mat-ripple" matripple="">
    
    </div><div class="mat-button-focus-overlay"></div></button></div>
  </div>
  </div>
</div></div>


